.overview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vh;
  padding: 6.5vh;

  h2 {
    font-family: 'Lato', sans-serif;
    margin-top: 1vh;
  }
}

.overview-chart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pie-chart {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.pieCenterlabel {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: #f3f3f3 !important;
}

.card-wrapper {
  color: #f3f3f3;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background: rgb(23, 24, 33);
  background: linear-gradient(45deg, rgba(23, 24, 33, 1) 30%, rgba(249, 118, 157, 1) 420%);
  border-radius: 1.5vh;
  color: #f9769d0f;
  margin-bottom: 2.6vh;
}

.stats-water,
.stats-electricity {
  margin-bottom: 2vh;
}

.card-wrapper .text-left {
  color: #f3f3f3;
  font-family: 'Lato', sans-serif;
}

.custom-legend {
  position: absolute;
  top: 35%;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vh;
}

.legend-color {
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 0.8vh;
  margin-right: 0.5vh;
}

.legend-label {
  color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  font-size: 1.5vh;
  font-weight: 400;
}

//Removing the stroke form the chart
.css-1mhcdve-MuiPieArc-root {
  stroke: none !important;
}


.card-wrapper.custom-card-wrapper {
  background-color: #1a202c;
  padding: 15px;
  margin-bottom: 20px;
}

.table-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #fff;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
