.app {
  background-color: #1d0c5c;
  font-family: inter, sans-serif;
}

.houselytics {
  font-size: 1.25rem; 
  color: white;
  font-weight: bold;
  margin-left: 1rem; 
}

.right {
  background-color: white;
  border-top-left-radius: 3rem; 
  border-bottom-left-radius:  3rem; 
  position: relative;
}

.title img {
  width: 3.125rem; 
  height: 3.125rem;
}

.title p {
  font-family: inter, sans-serif;
  font-size: 1.5625rem; 
  font-weight: 600;
  line-height: 2.34375rem; 
}

.title {
  margin-top: 10vh;
  margin-bottom: 30vh;
}

.header {
  font-family: inter, sans-serif;
  font-size: 2.5rem; 
  line-height: 3.75rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16vh;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1rem; 
}

.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-sign {
  width: 50%;
  text-align: left;
  margin-bottom: 10vh;
}

.button-container {
  display: flex;
  justify-content: center;
}

.password-group {
  margin-bottom: 5vh;
}

.button-sign{
  background-color: #4250be !important;
  width: 50%;
  color: white;
  font-size: 1.2rem; 
  font-weight: 500;
  line-height: 2.0625rem; 
  padding: 0.4rem 2rem; 
  margin-top: 5vh;
}

.full-height {
  height: 100vh;
}

@media (max-width: 768px) {

  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: inline-block;
  }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    margin-top: 0;
  }

  .button-sign{
    background: #1f2558;
    background: -webkit-linear-gradient(124deg, #1f2558 0%, #4250be 100%);
    background: linear-gradient(124deg, #1f2558 0%, #4250be 100%);
    width: 100%;
    margin-top: 0;
    padding: 0.5rem 2rem;
    margin-bottom: 0;
  }

  .right {
    margin-bottom: 0;
  }

  .form-sign{
    margin-bottom: 4.3vh;
  }

  .forgot {
    margin-bottom: 5vh;
  }

  .header {
    margin-bottom: 0;
    font-family: inter, sans-serif;
    font-size: 2.5rem;
    line-height: 3.75rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }

  .right {
    width: 94%;
    position: relative;
    overflow-x: hidden;
    color: white;
    top: -70px;
    background: rgba(221, 221, 221, 0.062);
    border-radius: 1.6rem; 
    box-shadow: 0 4px 3rem rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(0.82rem); 
    -webkit-backdrop-filter: blur(0.82rem);
    border: 0.01rem solid rgba(255, 255, 255, 0.99);
  }

  .stack-on-small {
    height: auto !important;
  }
}
