.button-container {
  display: flex;
  justify-content: center;
  background-color: transparent;

  .login {
    width: 96%;
    background-color: #ee756d;
  }
}



.Google{
  display: flex;
  justify-content: center;

  .ggl{
    width: 96%;
  }
}

.error {
  color: #f31260;}