.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.main-content {
  flex: 1;
}

.main-content {
  color: white;
  margin: 0px !important;
  border-left: 0px !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


.content {
  flex-grow: 1;
  background-color: #171821;
  overflow-y: auto;
}
