.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.main-content {
  color: white;
  margin: 0px !important;
  border-left: 0px !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh; 
  overflow: hidden; 
}

.content {
  flex-grow: 1;
  background-color: #171821;
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 5vh;
  overflow-y: auto; 
  height: 100%;
}
