.sidebar {
  border :0px !important;
  height: 100vh;
  font-family: lato;
  font-weight: 600 !important;
  font-size: 1.7vh !important;
  line-height: 2.25vh;
  display: flex;
  flex-direction: column;
}

.sidebar.toggled {
  width: 100% !important;
}

.logo-sidebar {
  margin-top: 3vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem !important;
  font-weight: 600;
}

.logo-sidebar p {
  max-width: 100%;
  height: auto;
  margin-left: 2vh;
  margin-bottom: 0px;
}


.logo-sidebar img {
  width: 3.9rem !important;
}

.custom-hr {
  width: 85%; 
  margin: 0 auto; 
  border-top: 2px solid rgba(243, 243, 243, 0.63); 
  margin-top: 0.1vh; 
  margin-bottom: 0.1vh;
}

.active {
  color: #f9769d !important;
  border-left: 5px solid;
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
}

.tab:hover{
  background-color: #171821;
}

.bigmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 60vh;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 100%;
  color: #F3F3F3A1;

  .house-icon{
    height: 2.95vh !important;
    width: 3.5vh !important;
    margin-bottom: 0.65vh !important;
  }
  .pie-icon{
    height: 2.15vh !important;
    width: 3.4vh !important;
  }
  .file-icon{
    height: 2.3vh !important;
    width: 2.5vh !important;
    margin-bottom: 0.65vh !important;
  }
  .tools-icon{
    height: 2.9vh !important;
    width: 3.35vh !important;
    margin-bottom: 0.3vh !important;
  }
  .ppl-icon{
    height: 2.9vh !important;
    width: 3.35vh !important;
    margin-bottom: 0.3vh !important;
  }
}

.bottom{
  // position: absolute;
  display: table-column-group;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  color: #F3F3F3A1;
  margin-bottom: 1vh;
}



//design for small screens 
@media only screen and (max-width: 1000px) {
  .logo-sidebar {
    display: none !important;
  }
  
  .back-button, .sm-logout{
    margin-top: 2vh;
    background-color: #171821;
  }
  .sidebar{
    font-family: lato;
    font-weight: 600 !important;
    font-size: 1.6vh !important;
  }

  .user-info {
    display: flex;
    margin-top: 4vh;
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }
  
  .user-icon {
    margin-right: 0.8vh; 
    font-size: 4.125rem;
  }
  
  .user-name {
    font-size: 20em; 
    font-weight: 700;
  }
  .active {
    color: #f9769d !important;
    border-left: 0;
  }
  .menu{
    display: flex;
    flex-direction: column;
    gap: 2em !important;
    margin-top: 2vh;
    margin-left:1vh;
    margin-right:1vh;
  }
  .map-sidebar{
    margin-left:2.5vh !important;
    margin-right:2.5vh !important;
  }
}